*.json
Lab1/.vscode/settings.json
AG2411_Raster/data/tgr24031lkA_Project/tgr24031lkA_Project.shx
AG2411_Raster/data/tgr24031lkA_Project/tgr24031lkA_Project.shp.xml
AG2411_Raster/data/tgr24031lkA_Project/tgr24031lkA_Project.shp
AG2411_Raster/data/tgr24031lkA_Project/tgr24031lkA_Project.sbx
AG2411_Raster/data/tgr24031lkA_Project/tgr24031lkA_Project.sbn
AG2411_Raster/data/tgr24031lkA_Project/tgr24031lkA_Project.prj
AG2411_Raster/data/tgr24031lkA_Project/tgr24031lkA_Project.dbf
